<div class="row">
    <div class="col-md-6 offset-md-3 mt-4">
        <h3>Reset Password</h3>
        <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>

            <div class="form-group">
                <label for="resetPasswordEmail">Account Email</label>
                <input type="email" class="form-control" id="registerEmail" placeholder="Enter Email">

            </div>

            <button type="submit" [disabled]="f.invalid" class="btn btn-primary">Reset Password <i
                    class="fas fa-sign-in-alt"></i></button>
        </form>
    </div>
</div>