 img {
   height: 30em;
   width: 99em;
 }

 nav ul {
   display: flex;
   justify-content: space-around;
   align-items: center;
   list-style: none;
   padding: 10px;
   font-size: larger;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }

 nav {
   background-color: lightblue;
 }
